<mat-form-field class="input" appearance="fill">
    <mat-label>Añade modalidades</mat-label>
    <mat-chip-list  #chipList aria-label="Selección de modalidades">
      <mat-chip
        *ngFor="let modalidad of modalidadesFiltradas"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(modalidad)">
        {{modalidad}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Buscar Modalidad"
        #modalidadInput
        [formControl]="modalidadCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let modalidad of filteredModalidad | async" [value]="modalidad">
        {{modalidad}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

