<br>
<div *ngIf="hayAmigos">
    

    <div fxLayout="row wrap" fxLayout.xs="column">
        <div class="carta" fxFlex=22 fxFlex.md=28 fxFlex.sm=43 fxFlex.xs=100 *ngFor="let amigo of amigos">

            <app-carta *ngIf="amigosId.indexOf(amigo.pk) >=0" #carta (abrirEliminar)="openDialog($event)" [paginaAmigo]="true" [amigos]="amigosId" [usuario]="amigo"></app-carta>

        </div>
    </div>
</div>

<div *ngIf="!hayAmigos">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1>No tienes amigos, busca a otros magos <a href="http://localhost:4200/listar-magos">aquí</a></h1>
    </div>
</div>
<br>