<mat-dialog-content>
  <form [formGroup]="perfilForm" (ngSubmit)="save()" name="perfilForm">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around">

      <mat-card fxFlex=25 fxLayout="column" fxLayoutAlign="space-between center">

        <img #imagen class="imagenPerfil" src={{preImagen}} >
        <br>
        <div class="image-upload" fxFlex=40>
          <label for="file-input">
            <a mat-stroked-button color="primary">Añadir Imagen </a>
          </label>

          <input type="file" id="file-input" name="foto" (change)="onChangeImagen($event.target.files)">
        </div>


      </mat-card>

      <mat-card fxFlex=75 class="content" fxLayout="column" fxLayoutAlign="space-between">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
          <mat-form-field fxFlex=40>
            <input type="text" matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="perfilForm.controls.nombre.invalid">{{getErrorNombre()}}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex=40>
            <input type="text" matInput placeholder="Nombre Art&iacute;stico" formControlName="nombre_artistico">
            <mat-error *ngIf="perfilForm.controls.nombre_artistico.invalid">{{getErrorNombreArtistico()}}</mat-error>
          </mat-form-field>

        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">



          <mat-form-field fxFlex=40>

            <input type="tel" matInput placeholder="Tel&eacute;fono" formControlName="telefono">
            <mat-error *ngIf="perfilForm.controls.telefono.invalid">{{getErrorTelefono()}}</mat-error>
          </mat-form-field>

        

       
          <mat-form-field fxFlex=40>
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="perfilForm.controls.email.invalid">{{getErrorMensaje()}}</mat-error>
          </mat-form-field>

        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center ">
          <mat-form-field fxFlex=40>
            <input type="url" matInput placeholder="P&aacute;gina web" formControlName="pagina_web">
            <mat-error *ngIf="perfilForm.controls.pagina_web.invalid">{{getErrorUrl()}}</mat-error>
          </mat-form-field>

          <form  [formGroup]="direccionForm" style="margin:0; padding:0px" class="example-form" fxLayout=row fxFlex=40>
            <mat-form-field fxFlex=100 class="example-full-width" >
              <mat-label>Dirección</mat-label>
              <input type="text" placeholder="Dirección" matInput (input)="getDirecciones($event)"
                formControlName="direccion" [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions " [value]="option">
                  {{option.place_name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

        </div>


        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
          <mat-form-field fxFlex=60>
            <textarea type="text" matInput placeholder="Descripci&oacute;n" formControlName="descripcion"
              rows=5>
              <mat-error *ngIf="registroForm.controls.telefono.invalid">{{getErrorDescripcion()}}</mat-error>
            </textarea>
          </mat-form-field>
        </div>
        <p class="errores" *ngFor="let error of errores.nombre">Nombre: {{error}}</p>
        <p class="errores" *ngFor="let error of errores.nombre_artistico">Nombre Artistico: {{error}}</p>
        <p class="errores" *ngFor="let error of errores.email">Email: {{error}}</p>
        <p class="errores" *ngFor="let error of errores.pagina_web">Página Web: {{error}}</p>

        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <button mat-raised-button target="_blank" [mat-dialog-close] type="button">Cancelar</button>
          <button mat-raised-button class="mat-primary" type="button"  [disabled]="!perfilForm.valid"  (click)="save()">Guardar</button>
        </div>
  

      </mat-card>
      <br>

    </div>
  </form>
</mat-dialog-content>