<mat-sidenav-container class="example-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0" [hasBackdrop]="false">
 
    <mat-sidenav position="top"  #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="70"    fixedBottomGap="0" >
   
      <div fxLayout="row" fxLayoutAlign="end">
        <mat-icon class="cerrar" (click)="ventanaLateral()"aria-hidden="false" aria-label="Cerrar">close</mat-icon>
      </div>
      <app-mensajes-amigos #mensajesAmigos></app-mensajes-amigos>
  
    </mat-sidenav>
  
    <mat-sidenav-content>
     
      <ng-content></ng-content>
    
    </mat-sidenav-content>
  </mat-sidenav-container>
