<footer >
    <mat-card>
    <div fxLayout="column" >
        <div fxFlex=50>
        <h2>¿Quiénes Somos?</h2>
        <p>Somos dos de estudiantes de ingeniería  informática del software que
            llevan varios años de experiencia en el mundo de la magia. 
            Aprovechando el conocimiento y la experiencia en estos campos ha surgido
            Followgic, una red social exclusiva para el mundo mágico!</p>
        </div>
        <div>
        <mat-divider style=background-color:white;></mat-divider>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <img  class="LogoFacebook" src="../../../assets/img/LogoFacebook.png" alt="">
        <img  class="LogoTwitter" src="../../../assets/img/LogoTwitter.png" alt="">
        <img  class="LogoYoutube" src="../../../assets/img/LogoYoutube.png" alt="">
        <img  class="LogoInstagram" src="../../../assets/img/LogoInstagram.png" alt="">
    </div>
</div>
</mat-card>
</footer>

