<footer >
    <mat-card>
        <div fxLayout="column" >
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h3><a routerLink="/politica-privacidad">Términos y condiciones</a></h3>
                <h3>© 2021 Copyright Followgic </h3>
                <div class="iconos">
                    <a  href="https://www.facebook.com/followgic/?ref=pages_you_manage"> <img  class="LogoFacebook" src="../../../assets/img/facebook.png" alt=""></a>
                    <a  href="https://twitter.com/home?lang=es"><img  class="LogoTwitter" src="../../../assets/img/twitter.png" alt=""></a>
                    <a  href="https://www.youtube.com/channel/UCkiYZU_tEE8STpkXN195Nug"> <img  class="LogoYoutube" src="../../../assets/img/youtube_3.png" alt=""></a>
                    <a  href="https://www.instagram.com/followgic/"><img  class="LogoInstagram" src="../../../assets/img/instagram.png" alt=""></a>
                </div>
            </div>
        </div>
    </mat-card>
</footer>

