<footer >
    <mat-card>
        <div fxLayout="column" >
            <div fxFlex=50>
                <h2>¿Quiénes Somos?</h2>
                <p>Somos dos de estudiantes de ingeniería  informática del software que
                    llevan varios años de experiencia en el mundo de la magia. 
                    Aprovechando el conocimiento y la experiencia en estos campos ha surgido
                    Followgic, una red social exclusiva para el mundo mágico!</p>
            </div>
            <div>
                <mat-divider style=background-color:white;></mat-divider>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <a href="/">Términos y condiciones</a>
                <h3>Followgic ©</h3>
                <div>
                    <img  class="LogoFacebook" src="../../../assets/img/facebook.png" alt="">
                    <img  class="LogoTwitter" src="../../../assets/img/twitter.png" alt="">
                    <img  class="LogoYoutube" src="../../../assets/img/youtube.png" alt="">
                    <img  class="LogoInstagram" src="../../../assets/img/instagram.png" alt="">
                </div>
            </div>
        </div>
    </mat-card>
</footer>

