mat-card{
    background-color: black ;
}
h2{
    color:white;
}
p{
    color:white;
}

.iconos{
    margin-bottom: 5px;
}

.LogoFacebook{
    width: 25px;
  
}
.LogoTwitter{
    width: 25px;
    margin-left: 10px;
 
}
.LogoYoutube{
    width: 27px;
    margin-left: 10px;
    
}
  
.LogoInstagram{
    width: 25px;
    margin-left: 10px;
  
}

h3{
    color:white;
    margin-top:10px;
  
}

a{
    color:white;

}

mat-card{
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;

    height: 45px;
    
}
