mat-card{
    background-color: black ;
}
h2{
    color:white;
}
p{
    color:white;
}

.LogoFacebook{
    width: 30px;
}
.LogoTwitter{
    width: 30px;
    margin-left: 10px;
}
.LogoYoutube{
    width: 55px;
}
.LogoInstagram{
    width: 30px;
}

mat-card{
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
}
