<mat-card *ngIf="this.mago" >
    <mat-card-header>
       <img mat-card-avatar class="imagen" src={{mago.foto}}>
      <mat-card-title>{{mago.nombre}}</mat-card-title>
      <mat-card-subtitle>{{mago.nombre_artistico}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions >
      <button *ngIf='peticion'mat-button (click)="aceptarPeticion(peticion.id)">Aceptar</button>
      <button *ngIf='peticion' mat-button (click)="rechazarPeticion(peticion.id)">Rechazar</button>
      <button *ngIf='esCreador' mat-button (click)="openDialog(mago)">Eliminar</button>
    </mat-card-actions>
  </mat-card>
