<mat-card >
 
    <mat-card-header>
       <img class="imagen" mat-card-avatar class="imagen" src={{mago.foto}}>
       <div >
        <p class="fecha">{{mensaje.fecha}}</p>
       </div>
       
      <mat-card-title>{{mago.nombre}}</mat-card-title>
      <mat-card-subtitle>{{mago.nombre_artistico}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content  fxLayout="row" fxLayoutAlign="center">
    <p *ngIf="!identificador">{{nombre}}:&nbsp;</p>
    <p *ngIf="identificador">Yo:&nbsp;</p>
    <p>{{mensaje.cuerpo}}</p>
    </mat-card-content>
    
    
  </mat-card>

