


<app-toolbar-filtros [calendario]="false" [rangoCalendario]="false" *ngIf="listarMagos" #ventanaLateral>
<br>
<div fxLayout="row" fxLayoutAlign="end">

    <mat-slide-toggle fxFlex=10 fxFlex.xs=30 fxFlex.sm=30 [color]="'primary'" [(ngModel)]="listarMagos" [ngModelOptions]="{standalone: true}">
        <div *ngIf="!listarMagos">Eventos</div>
        <div *ngIf="listarMagos">Magos</div>
     </mat-slide-toggle>
    </div>
<div fxLayout="row" fxLayoutAlign="center center">
    
    <app-buscador   [titulo]='"Buscar magos"'  (search)="filtrarMagos($event)"></app-buscador>
    <button class="boton" mat-raised-button type="submit"  (click)="abrirFiltros()" color="primary">Filtros</button>
 
</div>
<div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign.xs="space-around center" >
    <div class="content" fxFlex.xs=100 fxFlex.sm=30  fxFlex.md=25  fxFlex=20 *ngFor="let mago of magos |filtrarString: filtro_valor">
        <app-carta class="carta" [usuario]="mago" [amigos]="amigos" [peticionesPendientes]="pendientes" (abrirPopUp)="openDialog($event)" (refrecarPagina)="refrescarPagina($event)"></app-carta>
        <br> <br>
    </div>
</div>
<div class="vacio" *ngIf="magos.length==0">

</div>
<br>

</app-toolbar-filtros>

<app-listar-eventos *ngIf="!listarMagos"></app-listar-eventos>