


<app-toolbar-filtros [calendario]="false"  [selectEventos]="false"[rangoCalendario]="false" (limpiarFiltro)="cargarMagos($event)" *ngIf="listarMagos" #ventanaLateral>
<br>

<div fxLayout="row" fxLayoutAlign="center center">
    
    <app-buscador   [titulo]='"Buscar magos"'  (search)="filtrarMagos($event)"></app-buscador>
    <button class="boton" mat-raised-button type="submit"  (click)="abrirFiltros()" color="primary">Filtros</button>
 
</div>
<div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign.xs="space-around center" >
    <div class="content" fxFlex.xs=100 fxFlex.sm=30  fxFlex.md=25  fxFlex=20 *ngFor="let mago of magos |filtrarString: filtro_valor">
        <app-carta class="carta" [usuario]="mago" [amigos]="amigos" [peticionesPendientes]="pendientes" (abrirPopUp)="openDialog($event)" (refrecarPagina)="refrescarPagina($event)"></app-carta>
        <br> <br>
    </div>
</div>
<div class="vacio" *ngIf="magos.length==0">

</div>
<br>

</app-toolbar-filtros>

