
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <span fxHide.xs><img class="logo" src="../assets/img/logo.png" routerLink="" width="190" height="60"> </span>
    <span fxHide.gt-xs ><img class="logoChico" src="../assets/img/logoChico.png" routerLink="" width="60" height="60"> </span>


    <span class="example-spacer"></span>

    <div class="example-button-row">
      <button fxHide.gt-xs mat-button *ngIf="!loginService.logueado()" [matMenuTriggerFor]="menu"><img src="../assets/img/varita.png" width="30px"></button>
      <mat-menu  #menu="matMenu">

        <button *ngIf="!loginService.logueado()"mat-menu-item routerLink="/login">Iniciar Sesión</button>

        <button *ngIf="!loginService.logueado()"mat-menu-item (click)="openDialog()">Registrate</button>

      </mat-menu>
      <button *ngIf="!loginService.logueado()"fxHide.xs mat-button routerLink="/login">Iniciar Sesión</button>
      <button *ngIf="!loginService.logueado()" fxHide.xs mat-button (click)="openDialog()">Registrarte</button>
     
    
      <button    *ngIf="loginService.logueado()" [matMenuTriggerFor]="menuBuscar" mat-button  ><mat-icon  >search</mat-icon></button>
      <button  class="buscarPerfil"  *ngIf="loginService.logueado()" mat-icon-button [matMenuTriggerFor]="menuPrincipal"><mat-icon class="perfil" >account_circle</mat-icon></button>
    
      <mat-menu  #menuPrincipal="matMenu">
        <button  *ngIf="loginService.logueado()"mat-menu-item (click)="cargarPerfil()">Perfil</button>
        <button  *ngIf="loginService.logueado()"mat-menu-item routerLink="/amigos">Mis amigos</button>
        <button  *ngIf="loginService.logueado()"mat-menu-item routerLink="/lista-eventos-inscritos">Eventos Inscritos</button>
        
        <button *ngIf="loginService.logueado()" mat-menu-item (click)="logout()">Cerrar sesión</button>
      </mat-menu>

      <mat-menu  #menuBuscar="matMenu">
        <button  *ngIf="loginService.logueado()"mat-menu-item routerLink="/listar-magos">Magos</button>
        <button  *ngIf="loginService.logueado()"mat-menu-item routerLink="/listar-eventos">Eventos</button>
     <!--    <button  *ngIf="loginService.logueado()"mat-menu-item routerLink="/mostrar-magos-localizacion">Mapa</button> -->
      </mat-menu>
    
    
      
      <button *ngIf="loginService.logueado()" mat-icon-button     [matBadge]="peticionesRecibidas + mensajesRecibidos + comentariosNoLeidos + invitacionesRecibidas" [matBadgeHidden]="peticionesRecibidas + mensajesRecibidos +comentariosNoLeidos + invitacionesRecibidas == 0" matBadgePosition="after"   (click)="cargarNotificaciones()"><mat-icon mat-icon class="notificaciones" > notifications</mat-icon></button>
   
    
      
     
      
      
    </div>


  </mat-toolbar-row>
</mat-toolbar>


  <mat-sidenav-container 
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav position="end" #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="70" disableClose>
                
             
                 <app-notificacion *ngIf="loginService.logueado()"  #notificacion ></app-notificacion>
         
           
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>


