<mat-toolbar color="primary">
  <mat-toolbar-row>

    <span><img src="../assets/img/Imagotipo2.png" routerLink="" width="210" height="60"> </span>


    <span class="example-spacer"></span>

    <div class="example-button-row">
      <button fxHide.gt-xs mat-button [matMenuTriggerFor]="menu"><img src="../assets/img/varita.png" width="30px"></button>
      <mat-menu  #menu="matMenu">
        <button mat-menu-item routerLink="/perfil">Perfil</button>
        <button mat-menu-item routerLink="/login">Iniciar Sesión</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
        <button mat-menu-item routerLink="">Registrate</button>
      </mat-menu>
      <button fxHide.xs mat-button routerLink="/perfil">Perfil</button>
      <button fxHide.xs mat-button routerLink="/login">Iniciar Sesión</button>
      <button fxHide.xs mat-button routerLink="">Registrarte</button>
      <button fxHide.xs mat-button (click)="logout()">Cerrar sesión</button>
      
    </div>


  </mat-toolbar-row>
</mat-toolbar>