
.logo:focus{
    outline:0px;
    border: 0px
}
.example-spacer {
    flex: 1 1 auto;
  }

  img{
      margin-top: 12px;
  }

  mat-toolbar{
      height: 70px;
      background-color: #ff7514 !important;  

      box-shadow: 2px 2px 5px #999 !important;
      
  }

  button{
    color:black;
     
}

mat-icon{
    font-size: 35px;
    height: 35px;
    width: 35px;
    line-height: 35px;

}
.lupa{
    margin-top:10px
}

.perfil{
    margin-top:8px
}


.buscarPerfil{
    margin-right: 10px;

}
.notificaciones{
    margin-top:10px
}

mat-sidenav {
    width: 413px;
  }

  @media only screen and (max-width : 600px) {
    mat-sidenav {
      width: 100%;
    }

    
}

::ng-deep.mat-badge-content {
    background: #e0f1f0 !important;
    color: black !important;
}

  


 