.content{
    text-align: center;
}

.parametros{
    margin-left: 2px;
}

mat-form-field{
    padding-left: 10px;
}
form{
    text-align: center;
    padding: 20px;
}

.tarjeta{
    width: 300px !important;
}


.content{
        text-align: center;
    }
    
    .image-upload > input
    {
        display: none;
    }
    
.boton{
    padding-top:20px
}

.iconoWeb{
    size: 100px !important;
}
.descripcion{
    text-align:justify
}


  