<div *ngIf="!errorAmigo">
<br>
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly center">

  <app-carta fxFlex=20 fxLayout="column" fxLayoutAlign="space-between center" [usuario]="perfilForm.value"></app-carta>
  <br><br>
  <mat-card fxFlex=50>
    <h1 class="content">{{datosUsuario.nombre}}</h1>
    <p *ngIf="copiaModalidades.length != 0"><Strong>Modalidades preferidas:</Strong> {{nombreModalidades}} </p>

    <p class="descripcion">{{datosUsuario.descripcion}}</p>

    <div fxLayout="row" *ngIf="datosUsuario.pagina_web">
      <mat-icon>computer</mat-icon>
      <a class="parametros" href="http://example.com/">{{datosUsuario.pagina_web}}</a>
    </div>
    <br>
      <div fxLayout="row" fxLayoutAlign="space-evenly ">

        <div  fxLayout="column" fxLayoutAlign="space-evenly">
          <div fxLayout="row">
            <mat-icon svgIcon="mago"></mat-icon>
            <p class="parametros">{{datosUsuario.nombre_artistico}}</p>
          </div>
          <div fxLayout="row">
            <mat-icon>email</mat-icon>
            <p class="parametros">{{datosUsuario.email}}</p>
          </div>

          
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly">

          <div fxLayout="row" *ngIf="datosUsuario.telefono">
            <mat-icon> phone</mat-icon>
            <p class="parametros">{{datosUsuario.telefono}}</p>
          </div>

          <div *ngIf="datosUsuario.username" fxLayout="row">
            <mat-icon>account_circle</mat-icon>
            <p class="parametros">{{datosUsuario.username}}</p>
          </div>

        </div>


      </div>
      <br>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
        <button *ngIf="!idAmigo" mat-raised-button class="mat-primary" (click)="openDialog()">Editar Perfil</button>
      </div>
    
  </mat-card>
</div>
<br>
</div>
