.header{
    background-color:#e0f1f0;  
    height: 375px;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
}

.titulo{
    color:white;
    font-size: 30px;
}
.tituloPequeño{
    color:white;
    font-size: 17px;
}

.titulos{
  font-size:30px;
  margin-top: 20px;
}
.contenido{
  font-size:17px;
  text-align: center;
}

.caja{
 
  box-shadow: 2px 2px 5px #999 !important;
}
.tarjetas{
  margin-top: 70px;
}

.buscador{
 margin-top:50px;
}

@media only screen and  (max-width : 600px)   {
  .tarjetas{
    margin-top: 30px;
  }
}



//#f7941e
.segunda{
    min-height: 380px;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
    
}


h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.subtitulo{
  font-size:20px;
}
.subtitulo2{
  font-size:15px;
}
.bajar{
    margin-top: 50px !important;
}

.boton{
    margin-top: 30px;
    width:130px;
    height:45px;
    font-size:18px;
}

.icono{
    margin-bottom: 10px;
    width: 75px;
    padding-right:10px ;
}

.izquierda{
    margin-right:50px !important;
}

/*FADE IN*/
/*Efecto de fade in*/
.fade-in{
    animation: fade-in 3s ; 
     
  }
  @keyframes fade-in{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }  
  }

  /*SOMBRA MOVIL*/
/*Efecto de sombra con caja que sube y baja*/
.sombra-movil{
    transform: translateY(-6px);
    transition-duration: 0.3s;
    animation: 1.5s mover-caja infinite;
   
  }
  .sombra-movil:before{
    content: '';
    background: radial-gradient(ellipse, 
      rgba(0,0,0,0.35) 0%, 
      rgba(0,0,0,0) 80%);
    width: 90%;
    height: 20px;
    top: 100%;
    left: 5%;
    position: absolute;
    opacity: 0;
  }
  .sombra-movil:before{
    opacity: 1;
    transform: translateY(6px);
    transition-duration: 0.3s;
    animation: 1.5s mover-sombra infinite;
  }
  
  @keyframes mover-caja{ 
    50%{ 
      transform: translateY(-10px);
    } 
  }
  @keyframes mover-sombra{
    50%{
      opacity: 1;
      transform: translateY(10px) scale(0.9)
    }
  }
  
  