<div fxLayout="column" fxLayoutAlign="center">
    <mat-card class="header">

        <div class="bajar" fxLayout="column" fxLayoutAlign="center center">

            <mat-card-title class="fade-in">
                <h1 fxHide.xs><strong> Bienvenidos a Followgic</strong></h1>
                <h2 fxHide.gt-xs><strong> Bienvenidos a Followgic</strong></h2>
            </mat-card-title>
            <button *ngIf="!loginService.logueado()" class="boton" mat-raised-button color="primary" (click)="toolbarComponent.openDialog()">Registrate</button>
        </div>

    </mat-card>

    <mat-card class="segunda" fxLayout="column" fxLayoutAlign="center center">
        <br>
        <mat-card-title fxHide.xs class="titulo">¡Aplicación hecha por magos para magos!</mat-card-title>
        <mat-card-title fxHide.gt-xs class="tituloPequeño">¡Aplicación hecha por magos para magos!</mat-card-title>
        <br><br>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
            <mat-card fxFlex=30 class="caja sombra-movil">
                <div fxLayout="column" fxLayoutAlign="space-around ">
                    <div class="izquierda" fxLayout="row" fxLayoutAlign="center center">
                        <img class="icono" src="../../../assets/img/apreton-de-manos.png" alt="">
                        <mat-card-title>
                            <strong>Red Social</strong>
                        </mat-card-title>
                    </div>
                    <mat-card-content>
                        No solo podrás conocer a personas que le gusten este grandísimo arte, sino que también te damos
                        la opción de buscar por lugares y por modalidades.
                    </mat-card-content>
                </div>
            </mat-card>
            <br>
            <mat-card fxFlex=30 class="caja sombra-movil">
                <div fxLayout="column" fxLayoutAlign="space-around ">
                    <div class="izquierda" fxLayout="row" fxLayoutAlign="center center">
                        <img class="icono" src="../../../assets/img/calendario.png" alt="">
                        <mat-card-title>
                            <strong>Eventos</strong>
                        </mat-card-title>
                    </div>
                    <mat-card-content>
                        Podrás crear e inscribirte en quedadas y conferencias,
                        disfrutar de la magia y compartir tus conocimientos.
                    </mat-card-content>

                </div>


            </mat-card>
            <br>
            <mat-card fxFlex=30 class="caja sombra-movil">
                <div fxLayout="column" fxLayoutAlign="space-around ">
                    <div class="izquierda" fxLayout="row" fxLayoutAlign="center center">
                        <img class="icono" src="../../../assets/img/bloquear.png" alt="">
                        <mat-card-title>
                           <strong>Privacidad</strong>
                        </mat-card-title>
                    </div>
                    <mat-card-content>
                        Con nuestro sistema de preguntas conseguiremos un ambiente
                        mágico donde se puedan compartir conocimientos libremente.
                    </mat-card-content>
                </div>


            </mat-card>
        </div>
        <br>
    </mat-card>
</div>