@import "~@angular/material/theming";
@import '../../../custom-theme.scss';
mat-sidenav {
    width: 400px;
  }
  
.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
}


  @media only screen and (max-width : 600px) {
    mat-sidenav {
      width: 100%;
    }
}

  mat-toolbar{
    height: 70px;
    background-color:#DCDCDC !important;  

    box-shadow: 2px 2px 5px #999 !important;
    
}

button{
    color:black;
     
}

.cerrar{
  margin-top:5px !important;
}

.radioButton{
  margin:12px
}

