<mat-sidenav-container class="example-container"  [style.marginTop.px]="mobileQuery.matches ? 0 : 0" [hasBackdrop]="false">
 
  <mat-sidenav position="top" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="70"    fixedBottomGap="0" >
 
    <div fxLayout="row" fxLayoutAlign="end">
      <mat-icon class="cerrar" (click)="ventanaLateral()"aria-hidden="false" aria-label="Cerrar">cancel</mat-icon>
    </div>
    <app-filtros></app-filtros>

  </mat-sidenav>

  <mat-sidenav-content>
    <div fxLayout="column" style="min-height:100vh; overflow: hidden;">
    <ng-content></ng-content>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>