<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
          <span *ngIf="peticionesRecibidas.length!=0" [matBadge]="peticionesRecibidas.length" matBadgeOverlap="false">Peticiones</span>
          <span *ngIf="peticionesRecibidas.length==0" >Peticiones</span>
        </ng-template>
        <div fxLayout="column" fxLayoutAlign="space-between center">

            <div *ngIf="noNotificacion">
                <br>
                <h3>{{noNotificacion}}</h3>
            </div>


            <div *ngFor="let peticion of peticionesRecibidas">

                <br>
                <app-tarjeta-peticion (recargar)="recargarpagina($event)" [peticion]="peticion"></app-tarjeta-peticion>
                <br>
            </div>
            
            <div *ngFor="let invitacion of invitacionesEventos">

                <br>
                <app-tarjeta-invitacion (recargar)="recargarpagina($event)" [invitacion]="invitacion"></app-tarjeta-invitacion>
                <br>
            </div>
        </div>


    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label>
        <span *ngIf="mensajesNoLeidos.length!=0" [matBadge]="mensajesNoLeidos.length" matBadgeOverlap="false">Chat</span>
        <span *ngIf="mensajesNoLeidos.length==0" >Chat</span>
      </ng-template>
       

          

                
               <app-mensajeria></app-mensajeria>
               
           


        
    </mat-tab>

</mat-tab-group>