<div fxLayout="column" fxLayoutAlign="center center">
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front" fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="start start">
                <img class ="picasTop" src="/assets/img/picas.png" width="10%">
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="rectangulo">
                    <h2> Jesus Elias Rogriguez </h2>
                    <img  class ="imagenPerfil"src="/assets/img/personaEjemplo.png" width="80%">
                </div>
                
            </div>
            <div fxLayout="row" fxLayoutAlign="end end">
                <img class ="picasBotton" src="/assets/img/picas-girada.png" width="10%">
            </div>
        </div>
        <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
        </div>
    </div>
</div>
</div>