<app-preguntas *ngIf="!aprobado" (aprobado)="aprobado=$event"></app-preguntas>
<div *ngIf="aprobado" fxLayout="row" fxLayoutAlign="center">
    <mat-card class="caja sombra-movil">
        <h1 class="titulo"><strong>Registro</strong></h1>
        <form [formGroup]="registroForm" (ngSubmit)="saveRegistro()" class="titulo" fxLayout="column"
            fxLayoutAlign="center">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
                <mat-form-field>
                    <input type="text" matInput placeholder="Nombre *" formControlName="nombre">
                    <mat-error *ngIf="registroForm.controls.nombre.invalid">{{getErrorNombre()}}</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <input type="email" matInput placeholder="Email *" formControlName="email">
                    <mat-error *ngIf="registroForm.controls.email.invalid">{{getErrorMensaje()}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
                <mat-form-field>
                    <input type="tel" matInput placeholder="Teléfono" formControlName="telefono">
                    <mat-error *ngIf="registroForm.controls.telefono.invalid">{{getErrorTelefono()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nombre Artístico *" formControlName="nombre_artistico">
                    <mat-error *ngIf="registroForm.controls.nombre_artistico.invalid">{{getErrorNombreArtistico()}}
                    </mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">


                <mat-form-field>
                    <input type="url" matInput placeholder="Página web" formControlName="pagina_web">
                    <mat-error *ngIf="registroForm.controls.pagina_web.invalid">{{getErrorUrl()}}</mat-error>
                </mat-form-field>

                <form  [formGroup]="direccionForm" class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Dirección</mat-label>
                      <input type="text"
                             placeholder="Dirección"
                             matInput
                             (input)="getDirecciones($event)"
                             formControlName="direccion"
                             [matAutocomplete]="auto">
                      <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions " [value]="option">
                          {{option.place_name}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
            </div>

            <mat-form-field>
                <input type="text" matInput placeholder="Username *" formControlName="username">
                <mat-error *ngIf="registroForm.controls.username.invalid">{{getErrorUsername()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="password" matInput placeholder="Contraseña *" formControlName="password">
                <mat-error *ngIf="registroForm.controls.password.invalid">{{getErrorPassword()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="password" matInput placeholder="Repetir Contraseña *" formControlName="re_password">
                <mat-error *ngIf="checarSiSonIguales()">Las contraseñas no coinciden</mat-error>
            </mat-form-field>
            <section class="example-section" fxLayout="row" fxLayoutAlign="start">
                <mat-checkbox style="margin-left:10px" color="primary" class="example-margin" (click)="imprimirTerminos()"  [(ngModel)]="terminos" [ngModelOptions]="{standalone: true}">
                    <a (click)="openDialog()"> Terminos y condiciones</a> </mat-checkbox>
              </section>
          

            <mat-error *ngIf="checarSiSonIguales()">Las contraseñas no coinciden</mat-error>
            <p class="errores" *ngFor="let error of errores.password">Contraseña: {{error}}</p>
            <p class="errores" *ngFor="let error of errores.username">Username: {{error}}</p>
            <p class="errores" *ngFor="let error of errores.nombre">Nombre: {{error}}</p>
            <p class="errores" *ngFor="let error of errores.nombre_artistico">Nombre Artistico: {{error}}</p>
            <p class="errores" *ngFor="let error of errores.email">Email: {{error}}</p>
            <p class="errores" *ngFor="let error of errores.pagina_web">Pagina Web: {{error}}</p>
            <p class="errores" *ngIf="errorTerminos">Tienes que aceptar los terminos</p>
            <br>
            <button mat-raised-button class="mat-primary" [disabled]="!(registroForm.valid && terminos)" type="button"
            (click)="saveDireccion()">Registrar</button>
        </form>

      



    </mat-card>
</div>